---
name: Build

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'corretto'

      - uses: android-actions/setup-android@v3
        with:
            packages: ''

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build artifact
        run: ./gradlew build connectedCheck

      - name: Debug Sign
        run: jarsigner -verbose -keystore ~/.android/debug.keystore -storepass android -keypass android -signedjar ./app/build/outputs/apk/nonRoot/release/app-nonRoot-release-debugsigned.apk ./app/build/outputs/apk/nonRoot/release/app-nonRoot-release-unsigned.apk androiddebugkey

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "./app/build/outputs/apk/nonRoot/release/app-nonRoot-release-debugsigned.apk"
